<div class="container">
  <div class="row">
    <h3>{{greeting}}</h3>
    <p>VUE JS + Ruby on rails + Materialize</p>
  </div>
  <div class="row">
    <p class="flow-text">Here you can use Vue resource for HTTP requests to controllers. In the controllers you should use "respond to" and add de json format with a render some variable </p>
  </div>
</div>
